$trendyGreen: rgba(122, 124, 34, 1); // Trendy Green
$whisperWhite: rgba(239,235,222,1); // Whisper White
$jetBlack: rgba(45, 44, 47, 1); // Jet Black
$highRiskRed: rgba(199, 31, 45, 1); // High Risk Red
$safetyYellow: rgba(237, 255, 0, 1); // Safety Yellow
$paleCornflowerBlue: rgba(179,212,252,1); // Pale Cornflower Blue
$veryLightGrey: rgba(204,204,204,1); // Very Light Grey
$whisper: rgba(232,232,232,1); //Whisper
$nobel: rgba(153,153,153,1); //Nobel

//linear-gradient(90deg, #485563 90%, #29323c 10%);
